
.sider {
  box-sizing: border-box;
  background: #ffffff;
  transition: all 300ms;
}
.header {
  box-sizing: border-box;
  padding-left: 10px;
  background: steelblue;
  color: #ffffff;
}
.content {
  box-sizing: border-box;
  margin: 1px;
  overflow: hidden;
  position: relative;
}
.fold {
  cursor: pointer;
}
.title {
  display: inline-block;
  padding: 0 20px;
}
